


.gridAbout{
    /*float:left;*/
    border-top: 1px solid grey;
    width:100%;
    display: table;
    /*background-color: #fff;*/
}
.gridSetting{
    float:left;
    padding:1% 0 0 2%;
    margin:1%;
}
.gridLeft{
    width:60%;
    border-right:1px solid grey;
    padding-right:2%;
}
.gridRight{

    width:28%;
    padding:1% 0 0 2%;
    margin:1%;

}
.gridAbout li{
    list-style: none;
}
.gridImage{
    width:50%;
    height:50%;
    margin-left:10%;
}
.overlay {
    display: none;
    /*background: #fff;*/
    color: #000;
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 100;
    width: 50%;
    height: 53%;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    pointer-events: none;
    box-sizing: border-box;
    background: linear-gradient(180deg, #fff4bd, #ffffff);
}
 .description {
        display: none;
 }
 .overlayDesc{
    float:right;
     width:70%;
 }
.overlayImage{
    width:25%;
    float:left;
    margin-top:3%;
}

 @media screen and (max-width: 720px) {
     body{
         overflow-y: auto;
         overflow-x: hidden;
     }
     .gridAbout,.gridLeft,.gridRight,.gridImage{
         width:98%;
     }
    .gridImage{
        width:50%;
    }
    .description{
        display: block;
        margin-right:1%;
    }
     .overlayImage{
         width:30%;
         float:left;
     }

 }